version: "3.8"

services:
  db:
    image: ghcr.io/master-thesis-188199/knowledgecheckr-database:1.0.0
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: "123"
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: KnowledgeCheckr
      MYSQL_USER: test
      MYSQL_PASSWORD: pass
    volumes:
      - ./mysql_data:/var/lib/mysql
    ports:
      - "3305:3306"

  knowledgeCheckr:
    image: ghcr.io/master-thesis-188199/knowledgecheckr:latest
    restart: no
    ports:
      - 3000:3000
    environment:
      DATABASE_HOST: mysql
      DATABASE_PORT: 3306
      DATABASE_USER: root
      DATABASE_PASSWORD: 123
      DATABASE_NAME: KnowledgeCheckr

    env_file:
      - .env

  dex:
    restart: on-failure
    image: ghcr.io/dexidp/dex:latest
    container_name: dex
    ports:
      - "5556:5556"
    volumes:
      - ./dex/dex.config.yaml:/etc/dex/config.docker.yaml:ro
