@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-3xl: 120rem;
}

label:has(+ input:required):after {
  content: ' *';
  color: var(--color-red-500);
}

/* Override variables when data-theme is explicitly set to dark */
html[data-theme='dark'] {
  --background: #1d1d1d;
  --foreground: var(--color-neutral-200);

  --background-z-1: var(--color-neutral-800);
  --ring-z-1: var(--color-neutral-700);

  --ring-subtle: var(--color-neutral-600);
  --ring: var(--color-neutral-500);
  --ring-hover: color-mix(in oklab, var(--color-neutral-300) 70%, transparent);
  --ring-focus: color-mix(in oklab, var(--color-neutral-300) 80%, transparent);

  --popover: color-mix(in oklab, var(--color-neutral-700) 60%, var(--color-neutral-900));
  --input: color-mix(in oklab, var(--color-neutral-700) 29%, var(--color-neutral-800));
  --input-ring: color-mix(in oklab, var(--color-neutral-500) 50%, var(--color-neutral-600));

  --accent-foreground: var(--color-neutral-100);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  label:has(+ input:required):after {
    color: var(--color-red-400);
  }
}

/* If no data-theme is set, fallback to system preference */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: var(--color-neutral-100);
  --foreground: var(--neutral-700);
  --background-z-1: var(--color-neutral-200);
  --ring-z-1: var(--color-neutral-700);

  --ring-subtle: color-mix(in oklab, var(--color-neutral-400) 50%, transparent);
  --ring: var(--color-neutral-400);
  --ring-hover: var(--color-neutral-500);
  --ring-focus: var(--color-neutral-600);

  --popover: color-mix(in oklab, var(--color-neutral-200) 60%, var(--color-neutral-50));
  --input: color-mix(in oklab, var(--color-neutral-100) 90%, transparent);
  --input-ring: var(--color-neutral-400);

  --accent-foreground: var(--color-neutral-800);

  --card: oklch(0.205 0 0);
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --color-background-z-1: var(--background-z-1);
  --color-ring-z-1: var(--ring-z-1);

  --color-ring: var(--ring);
  --color-ring-hover: var(--ring-hover);
  --color-ring-focus: var(--ring-focus);
  --color-ring-subtle: var(--ring-subtle);

  --color-input: var(--input);
  --color-input-ring: var(--input-ring);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type='number']::-webkit-inner-spin-button {
  opacity: 0.8;
}

input.hidden-spin-button::-webkit-inner-spin-button,
input.hidden-spin-button::-webkit-outer-spin-button {
  opacity: 0 !important;
  appearance: none;
  margin: 0;
}
