name: "Auto Create PR Feature Branch"

on:
  push:
    branches-ignore:
      - main
      - canary

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  BASE_BRANCH: canary
  AI_GENERATION_ENABLED: false
  PR_TITLE: "Merge Feature Branch into Canary"
  PR_DESCRIPTION: ""

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # This fetches all branches and full history if needed

      - name: Check if a PR already exists for this branch
        id: pr-check
        uses: actions/github-script@v6
        env:
          github-token: ${{ secrets.GITHUB_TOKEN }}
        with:
          script: |
            const branchName = process.env.GITHUB_REF.replace('refs/heads/', '');
            const { data: prs } = await github.rest.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head: `${context.repo.owner}:${branchName}`,
              state: 'open'
            });
            core.info(`Found ${prs.length} open PR(s) for branch ${branchName}`);
            return prs.length > 0;
          result-encoding: string

      - name: Exit if PR exists
        if: steps.pr-check.outputs.result == 'true'
        run: |
          echo "A pull request already exists for this branch. Exiting."
          exit 0

      - name: Create pull request
        if: steps.pr-check.outputs.result == 'false'
        id: open-pr
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: ${{ env.BASE_BRANCH }}
          pr_title: ${{ env.PR_TITLE }}
          pr_body: ${{ env.PR_DESCRIPTION }}
          pr_draft: false
